<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springsecurity.mappers.IQueryPermissionMapper">
    <select id="listPermission" resultType="hashmap">
        SELECT permission_id, slug
        FROM permission
        WHERE ACTIVE = 'ACTIVE';
    </select>

    <select id="findByPermissionName" resultType="string">
        SELECT PERMISSION_ID FROM PERMISSION WHERE SLUG = #{slug} AND ACTIVE = 'ACTIVE';
    </select>
</mapper>