<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springsecurity.mappers.ICommandUserMapper">
    <insert id="registerUser" parameterType="registerUserRequest">
        INSERT INTO USER (USER_ID, ROLE_ID, USERNAME, FIRST_NAME, LAST_NAME, NAME, MOBILE, EMAIL, CCCD, PASSWORD_HASH, REGISTERED_AT)
        VALUES (#{USER_ID}, #{ROLE_ID}, #{USERNAME}, #{FIRST_NAME}, #{LAST_NAME}, #{NAME}, #{MOBILE}, #{EMAIL}, #{CCCD}, #{PASSWORD_HASH});
    </insert>
</mapper>